
  .swiper {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    border: 1px solid #fff;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
  }

  .swiper-slide::-webkit-scrollbar {
    background-color: #000;
    border-left: 1px solid #fff;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  
  .swiper {
    width: 80%;
    height: 540px;
  }
  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #fff;
  }
  